/* Custom CSS*/

/* General Styles*/

* {
    outline: none;
    font-family: 'Raleway', sans-serif;
}


.wrap{
    width: 90%;
}

.off-canvas-wrapper{
    background-repeat: repeat;
}

h2{
  font-family: "Raleway";

}

/* Mobile Navigation Styles*/

.title-bar{
    background-color: #ffffff;
    background-image: url("../img/lodyas_edit.png");    
    height: 9.375em;
    padding-top: 1.063em;
}

.menu-icon:after{
  background: #484845;
  box-shadow: 0 7px 0 #484845, 0 14px 0 #484845;
}

.title-bar-title{
    color: #000000;
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 1.45em;
}


#mobile-menu{
    background-color: transparent;
    background-image: url("../img/lodyas_edit.png");
    color: #000000;
    padding-top: 20px;
}

.menu-icon:after{
  background: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
}

.menu-icon a:hover{
  color: #c3bebe;
}

#mobile-menu li{
    list-style: none;   
    font-size: 1.2em;
}

#mobile-menu a{
    color: #000000;
    font-weight: normal;
    line-height: 2;
}

#mobile-menu a:hover{
    color: #424850;  
}



.js-off-canvas-exit{
    background: rgba(0, 0, 0, 0.25);
}

/* Desktop Navigation Styles*/
.banner{
    background-image: url("../img/lodyas_edit.png");
    background-repeat: repeat;
    height: 8.75em;
}

.banner img{
 margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 10.5em;
}

.banner p{
  font-size: 1.25em;
  margin-left: 8.7em;
}

.top-bar, .top-bar ul{
  background-color:#000000;
  padding: 0;
  min-height: 2.6em;
}

.top-bar ul{
  padding-left: 10em;
}

.menu>li>a {
    color: #ffffff;
    font-size: 1.1em;
}

.menu>li>a:hover {
    color: #c3bebe;
}

#current {
  color: #c3bebe;
}

/*Main styles*/

.main-projects {
  padding-bottom: 1em;
 font-family: 'Raleway';
 font-size: 1em;
 margin: 2.7em 0em 4em 9.7em;
}

.main-projects img{
    padding: 12px;
}

.main-about {
 padding-bottom: 1em;
 font-family: 'Raleway';
 font-size: 1em;
 margin: 2.7em 0em 4em 9.7em;
}

.main-tutorials {
  padding-bottom: 1em;
 font-family: 'Raleway';
 font-size: 1em;
 margin: 2.7em 0em 7em 9.7em;
}

.main-submissions {
  padding-bottom: 1em;
 font-family: 'Raleway';
 font-size: 1em;
 margin: 2.7em 0em 7em 9.7em;
}

/*Projects snippet styles*/
.main-arc {
 padding-bottom: 1em;
 margin-top: 1.5em;
}

.article-row-section {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-row-section-inner {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
}

.article-row-section-header {
  padding: 1.5rem 0;
  margin: 0;
  line-height: 1;
  font-family: 'Raleway';
}

.article-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #cac7c7;
  padding: 1.5rem 0;
}

.article-row-img img{
filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.4));

 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

.article-row-img img:hover {
filter: drop-shadow(1px 1px 5px #999);

/*    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;*/

}

.article-row-content {
  padding: 1.5rem 0 0;
  color: #0a0a0a;
}

.article-row-content-header {
  font-size: 1.5rem;
  font-family: 'Raleway';
}

.article-row-content-description {
  font-size: 1rem;
  font-family: "Raleway";
}

.article-row-content-author,
.article-row-content-time {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #8a8a8a;
}

.article-row-reversed .article-row-content {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1.5rem 0 0;
}

.article-row-reversed .article-row-img {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 0 1.5rem 0;
}

/*Individual projects styles*/

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-bottom: 1.2em;
}

/* Footer Styles*/
footer{
    background-image: url("../img/lodyas_edit.png");
    padding: 1.25em 0em 1.25em 0em;
}

footer p{
  color: #000000;   
}

footer a{
    color: #000000;
    font-size: 0.9em;

}

footer a:hover{
    color: rgba(255,255,255, 0.8);
}

footer a span{
    font-weight: bold;
    color: #000000;
}

footer h4{
    color: #000000;
    font-size: 1.3em;
}

footer hr{
    color: #000000;
    margin: 10px 0;
    border-bottom: 1px solid #ffffff;  
    }

footer .social-buttons{
    padding-top: 0.625em;
 }    

footer i {
  font-size: 2.5rem; }

footer .icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0em 0.313em;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white; }
  .icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; }
  .icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; }
  .icon-button i {
    background: none;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 3.6rem;
    transition: all 0.3s; }
    
.facebook span {
  background-color: #4099ff; }

.github span {
  background-color: #000000; }

.blogger span {
  background-color: #db5a3c; }

.linkedin span {
  background-color: #0274b3; }

.icon-button .fi-social-facebook {
  color: #4099ff; }

.icon-button .fi-social-github {
  color: #000000; }

.icon-button .fi-social-blogger {
  color: #db5a3c; }

.icon-button .fi-social-linkedin {
  color: #0274b3; }

.icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-github, .icon-button:hover .fi-social-blogger, .icon-button:hover .fi-social-linkedin {
  color: white;
  font-size: 2.6rem;
  line-height: 3.9rem; }

/* Media Queries*/

@media print, screen and (min-width: 53em) {
  .article-row-content {
    padding: 0 0 0 1.5rem;
  } 
}

@media print, screen and (min-width: 53em) {
  .article-row-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media print, screen and (min-width: 53em) {
  .article-row-section-inner {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 83.33333%;
  }
}

@media print, screen and (min-width: 53em) and (min-width: 53em) {
  .article-row-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media (max-width: 53em) {
  .article-row-img {
    width: 85%;
  }
  .top-bar ul {
    padding-left: 3em;
}
.banner img {
    margin-left: 3.25em;
}
.banner p { 
    margin-left: 3.938em;
}

 .main-about{
     margin: 1.5em 0em 0em 0.5em;
}

.main-projects{
     margin: 1.5em 0em 0em 0.5em;
}

 .main-tutorials{
     margin: 1.5em 0em 0em 0.5em;
}

 .main-submissions{
     margin: 1.5em 0em 0em 0.5em;
}

}

@media print, screen and (min-width: 53em) {
  .article-row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

}

@media print, screen and (min-width: 53em) {
  .article-row-img img {
    max-width: none;
    width: auto;
  }
}

@media print, screen and (min-width: 53em) {
  .article-row-reversed .article-row-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .article-row-reversed .article-row-img {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 639px){    
    .menu-desktop, .banner{
        display: none;
    }
.title-bar-left {
      margin-top: 2.875em;
    }
    .top-bar, .top-bar ul {
    min-height: 1.3em;
}
 /*.menu-icon{
  position: relative;
  bottom: -4.813em; 
 }*/

 h2{
  font-size: 2em;
 }
} 

@media (max-width: 365px){    
    .title-bar-left {
      margin-top: 0em;
    }
/*    .menu-icon{
  position: relative;
  bottom: -8.25em;
 }*/ 
}

